.app {
  text-align: center;
  background-color: #282c34;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  height: 100vh;
  overflow: hidden;
}

.backArrow {
  position: absolute;
  top: 5vh;
  left: 5vh;
  color: white;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menuButton {
  padding: 10px 30px;
  margin: 10px 0;
  min-width: 230px;
  font-size: larger;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: none;
  border: 2px solid black;
}

.menuButton:hover {
  border: 2px solid grey;
}

.menuButton:active {
  border: 2px solid lightgray;
}

.logo {
  max-width: 500px;
  margin-bottom: 20px;
}

.smallMenuButton {
  font-size: large;
}

.hidden {
  visibility: hidden;
  height: 0;
}

.previousButton {
  display: block;
  position: absolute;
  left: 20px;
  top: 50%;
}

.nextButton {
  display: block;
  position: absolute;
  right: 20px;
  top: 50%;
}

.navButton {
  padding: 10px 30px;
  margin: 10px 0;
  min-width: 130px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: none;
  border: 2px solid black;
}
.navButton:hover {
  border: 2px solid grey;
}
.navButton:active {
  border: 2px solid lightgray;
}