.app {
  text-align: center;
  background-color: #282c34;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  height: 100vh;
}

.gameContainer {
  max-height: 180vh;
}

.backArrow {
  position: absolute;
  top: 5vh;
  left: 5vh;
  height: 10vh;
  width: 10vh;
  background-color: white;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menuButton {
  padding: 10px 30px;
  margin: 10px 0;
  min-width: 230px;
  font-size: larger;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: none;
  border: 2px solid black;
}

.menuButton:hover {
  border: 2px solid grey;
}

.menuButton:active {
  border: 2px solid lightgray;
}

.logo {
  max-width: 500px;
  margin-bottom: 20px;
}

.smallMenuButton {
  font-size: large;
}